In [15]:
import pandas as pd

# Read the CSV file
df = pd.read_csv(r'C:/Users/muzna/anaconda_projects/ecommerce_sample.csv', parse_dates=['InvoiceDate'])

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,INV100000,NOTE350,Notebook A4,1,2020-02-21 10:00:48,17.60,C2309,USA,17.60
1,INV100001,NOTE189,Notebook A4,2,2023-10-17 19:51:22,26.51,C2508,Spain,53.02
2,INV100002,PEN338,"Pen, blue ink",1,2020-07-10 07:57:37,13.11,C1065,Germany,13.11
3,INV100003,PHONEC818,Phone Charger,1,2021-02-11 23:39:41,20.79,C1054,Germany,20.79
4,INV100004,HEADPH928,Headphones,1,2023-04-21 10:07:43,17.36,C1451,Germany,17.36

In [16]:
# Basic cleaning
df = df.drop_duplicates()
df = df[df['Quantity'] != 0]  # remove returns if treating separately
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']
df['CustomerID'] = df['CustomerID'].fillna('Unknown')

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,INV100000,NOTE350,Notebook A4,1,2020-02-21 10:00:48,17.60,C2309,USA,17.60
1,INV100001,NOTE189,Notebook A4,2,2023-10-17 19:51:22,26.51,C2508,Spain,53.02
2,INV100002,PEN338,"Pen, blue ink",1,2020-07-10 07:57:37,13.11,C1065,Germany,13.11
3,INV100003,PHONEC818,Phone Charger,1,2021-02-11 23:39:41,20.79,C1054,Germany,20.79
4,INV100004,HEADPH928,Headphones,1,2023-04-21 10:07:43,17.36,C1451,Germany,17.36

In [17]:
# Normalize text
df['Description'] = df['Description'].str.strip().str.title()

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,INV100000,NOTE350,Notebook A4,1,2020-02-21 10:00:48,17.60,C2309,USA,17.60
1,INV100001,NOTE189,Notebook A4,2,2023-10-17 19:51:22,26.51,C2508,Spain,53.02
2,INV100002,PEN338,"Pen, Blue Ink",1,2020-07-10 07:57:37,13.11,C1065,Germany,13.11
3,INV100003,PHONEC818,Phone Charger,1,2021-02-11 23:39:41,20.79,C1054,Germany,20.79
4,INV100004,HEADPH928,Headphones,1,2023-04-21 10:07:43,17.36,C1451,Germany,17.36

In [ ]:
# Export cleaned - fixed path to save in the same directory as the original file
df.to_csv(r'C:/Users/muzna/anaconda_projects/ecommerce_cleaned.csv', index=False)